# PRIMER EJERCICIO: 
##  -- What is a list? --

#### Intructions: 

- La lista llamada Ages tiene las edades de las siguientes personas:

    - Alex ---> 21
    - Ramon ---> 30
    - Chabela ---> 18
    - Ramiro ---> 29
    
    
- Agrega la edad de Lucia a la lista, quien tiene una edad de 38 years.


- Elimina el # de la variable broken_heights, luego ejecuta la celda, y arregla el bug.

In [2]:
ages = [21, 30, 18, 29, 38]

broken_list = [65, 71, 59,
               62]

### Instructions:

- Crea una lista llamada names, que contenga los nombres de las personas que mencionamos en el ejercicio de arriba.


- Y luego crea una lista llamada all_data que contenga ambas listas en ella, 

*Recuerda que el orden tiene que ser el mismo en ambas lista*

In [9]:
#Crea names aqui abaj:
name_list=["Alex", "Ramon", "Chabela", "Ramiro" ]


all_data=[ages,name_list ]

print(ages)

[21, 30, 18, 29, 38]

# SEGUNDO EJERCICIO: 
##  --  Append --

In [10]:
example_list = [1, 2, 3, 4]
print(example_list)

#Using Append
example_list.append(5)
print(example_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 4, 5]

### Instructions:

- Utilizando las listas antes creadas, agrega a Rodrigo - edad 21, utilizando la funcion append() a sus respectivas listas names, ages y actualiza la lista all_data para que contenga tanto el nombre como la edad.


- Imprime all_data

In [11]:
name_list.append ("rodrigo")
ages.append(21)
print(all_data)
#using append

[[21, 30, 18, 29, 38, 21], ['Alex', 'Ramon', 'Chabela', 'Ramiro', 'rodrigo']]

# TERCER EJERCICIO: 
##  --  Growing a List: Plus(+) --

### Intructions:

- Crea una lista llamada new_people y agregale los siguientes valores "Gonzalo", "Camilo", "Glam"

- Usando += or +, agrega la lista new_people a names

- Y de la misma forma como el punto anterior agrega las siguientes edades a ages: 30, 23, 18

In [12]:
new_people= ["Gonzales", "Camilo", "Glam" ]

name_list += new_people 
ages+= [30, 23, 18]

print(all_data)

[[21, 30, 18, 29, 38, 21, 30, 23, 18], ['Alex', 'Ramon', 'Chabela', 'Ramiro', 'rodrigo', 'Gonzales', 'Camilo', 'Glam']]

# CUARTO EJERCICIO: 
##  --  Accessing List Elements --

### Instructions:

- Crea una lista llamada employees con los siguientes elementos: "Michel", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert", "Michael", "Ryan"

- Crea una variable -- employee_four -- y asignale el empleado numero 4 de la lista

- Imprime la siguiente linea de codigo ---> print(employees[10])
    - What happens? and Why?
    
- Arregla la linea de codigo e imprime un nombre de la lista.

In [15]:
employees= ["Michel", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert", "Michael", "Ryan"]

employee_four=employees[3]

print(employees[4])
print(employee_four)

Ryan
Pam

### Instructions:


- imprime el ultimo nombre de la lista usando negative index.

- crea una variable llamada -- employee_3 -- y asignale el empleado numero 3 de la lista, usando negative index

In [16]:
print(employees[-1])

employee_3=employees[-8]

print(employees)
print(employee_3)

Ryan
['Michel', 'Dwight', 'Jim', 'Pam', 'Ryan', 'Andy', 'Robert', 'Michael', 'Ryan']
Dwight

### Instructions:


- Hubo un error con los nombres, cambia el nombre de Michel por Michael, el de Jim por Jimmy, el de Roberto por Roberto.

In [17]:
employees[0]="Michael"

employees[2]= "Jimmy"

employees[-3]= "Roberto"

print(employees)

['Michael', 'Dwight', 'Jimmy', 'Pam', 'Ryan', 'Andy', 'Roberto', 'Michael', 'Ryan']

# QUINTO EJERCICIO: 
##  --  Shrinking a List: Remove --

### Intructions:

- Usando la lista creada anteriormente de employees, imprime la lista.

- Elimina los nombres duplicados usando .remove()

- Andy se canso de trabajar para nosotros, decia que mucho lo explotabamos por ser negro, que mas da, eliminalo de la lista.

- Vuelve a imprimir la lista final sin los nombres duplicados, y sin el holgazan de Andy.

In [18]:
print(employees)

employees.remove("Michael")

employees.remove("Ryan")
employees.remove("Andy")

print(employees)

['Michael', 'Dwight', 'Jimmy', 'Pam', 'Ryan', 'Andy', 'Roberto', 'Michael', 'Ryan']
['Dwight', 'Jimmy', 'Pam', 'Roberto', 'Michael', 'Ryan']

# SEXTO EJERCICIO: 
##  --  Two-Dimensional (2D) Lists --

### Instructions:

- Una nueva estudiante llamada Vicky se unio a la clase, con una altura de 1.69, agregala a la lista heights como una lista aparte con su nombre y altura.

- La altura de Sam no es correcta, accede a la lista donde se encuentra Sam, y cambia su altura por 1.60

- Crea una variable llamada -- jenny_height -- y asignale la altura de Jenny usando index 2d

In [26]:
heights = [
           ["Jenny", 1.61], 
           ["Alexus", 1.70], 
           ["Sam", 1.45], 
           ["Grace", 1.64]
          ]

heights+= [[" Vicky",  1.69]]
heights[2][1]=1.60
jenny_height =heights[0] [1]
print(heights)
print(jenny_height)

[['Jenny', 1.61], ['Alexus', 1.7], ['Sam', 1.6], ['Grace', 1.64], [' Vicky', 1.69]]
1.61